<div class="col-6 col-sm-6 col-md-7 col-lg-5">
  <div class="mb-4 bg-white text-dark px-2 py-1">
    <h2 class="h4">Tweets</h2>

<%= form_with model: @trumptweet, method: :get do %>
  <%= date_field_tag 'start_date', params[:start_date], placeholder: "Enter Start Date" %>
  <%= date_field_tag 'end_date', params[:end_date], placeholder: "Enter End Date" %>
  <%= submit_tag 'Search' %>
<% end %>


<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.content %>
    </li>
  <% end %>
</ul>

<% if @tweets.present? %>
<%= paginate @tweets %>
<% end %>

</div>
</div>
            <div class="col-6 col-sm-6 col-md-7 col-lg-4">
              <div class="mb-4 bg-white text-dark px-2 py-1">
                <h2 class="h4">Proportions</h2>
                <p>Imagine a Pie Chart like you've Never Seen Before.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-7 col-lg-5">
              <div class="mb-4 bg-white text-dark px-2 py-1">
                <h2 class="h4">Over Time</h2>
                <p>Here is a time Series. Isn't it lovely?</p>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-7 col-lg-4">
              <div class="mb-4 bg-white text-dark px-2 py-1">
                <h2 class="h4">Additional Notes</h2>
                <p>A note section goes here</p>
              </div>
            </div>
          </div>
        </div>